* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.imgNav{
  background-image: url("../public/img/360_F_672060341_HyXEiRiAD9nGf8aGYKqOYfkCw7UmqHal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 75vh;
  .nav{
    color: white;
    display: flex;
    justify-content: space-between;

    h4{
      padding: 1% 2%;
    }

    ol{
      list-style: none;
      display: flex;
      padding: 1% 10%;

      li{
        padding: 0% 4%;

        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}